.contact-portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:75vh;
    position: relative;
    top: 130px;
        h2{
            font-size: 2.5rem;
        }
}

.contact-portfolio-content-adress{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    div{
        margin-top: 20px;
        margin-right: 20px;
        text-align: center;
        line-height: 1.2;
    }
    p{
        color: $secondary-color;
    }
}
.contact-portfolio-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
    div{
        margin-bottom: 20px;
    }
    
        a{
            color: $text-color;
            margin-right:  10px;
            text-decoration: none;
            
        &:hover{
            color: $secondary-color;
            @include transition(1s);
        }
    }

}