//*Colors
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;

//* Font 
$font-family: 'Segoe UI', 'Nunito', Tahoma, Genava, Verdana, sans-serif;


$bottom-margin: 1rem;

$background-image-url: '../img/model-1.jpg';



